@model IEnumerable<QML.Web.UI.Areas.DocumentAdmin.Models.DocumentSatisticModel>
@{
    ViewBag.Title = "Khoản thu phí hàng năm";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#yearView").change(function () {
            //on-change code goes in here.
            //variable "this" references the state dropdown element
            $("#ByCateForm").submit();

        });
    });
</script>
<input type="hidden" id="year" value="@ViewBag.paramYear" />
<input type="hidden" id="income" value="@ViewBag.income" />
<div style="width:100%;text-align:center;">

@using (Html.BeginForm("StatisticIncome", "Document", FormMethod.Get, new { id = "ByCateForm" }))
        {
    <p>            
            <span>Theo năm</span>@Html.DropDownList("yearView", (IEnumerable<SelectListItem>)@ViewBag.yearView, "Tất cả")
            </p>
        }
</div>

		<script type="text/javascript">
		    $(function () {
		        var chart;
		        var options = {
		            chart: {
		                renderTo: 'container',
		                type: 'column'
		            },
		            title: {
		                text: 'Khoản thu phí xem tài liệu'
		            },
		            subtitle: {
		                text: 'Hàng năm'
		            },
		            xAxis: {
		                categories: [],
		                title: {
                            text: "Năm"
                        }
		            },
		            yAxis: {
		                min: 0,
		                title: {
		                    text: 'Số lượng (VND)'
		                }
		            },
		            legend: {
		                layout: 'vertical',
		                backgroundColor: '#FFFFFF',
		                align: 'left',
		                verticalAlign: 'top',
		                x: 100,
		                y: 70,
		                floating: true,
		                shadow: true
		            },
		            tooltip: {
		                formatter: function () {
		                    return '' +
                        this.x + ': ' + this.y + ' VND';
		                }
		            },
		            plotOptions: {
		                column: {
		                    pointPadding: 0.2,
		                    borderWidth: 0
		                }
		            },
		            series: [{
		                name: 'Khoản thu',
		                data: []

		            }]
		        };
		        $(document).ready(function () {
		            var year = $("#year").val().split(",");                                        
		            for (i = 0; i <= year.length; i++) {                                                                                        
		                options.xAxis.categories.push(year[i]);
		            }

		            var income = $("#income").val().split(",");
		            for (i = 0; i < income.length; i++) {
		                options.series[0].data.push(parseFloat(income[i]));
		            }
		            chart = new Highcharts.Chart(options);
		        });

		    });
</script>
<script src="@Url.Content("~/Content/highchart/highcharts.js")"></script>
<script src="@Url.Content("~/Content/highchart/modules/exporting.js")"></script>

<div id="container" style="min-width: 400px; min-height: 400px; margin: 0 auto"></div>

<style type="text/css"> 
div#container div.highcharts-container 
{
    width:auto !important;
    }
</style>
