@model QML.Web.UI.Areas.DocumentAdmin.Models.DocumentEssential

@{
    ViewBag.Title = Model.Title + " - Đọc sách Online - Hanoi University | E-Library";    
}
<div id="common-wrapper">
    <center>
        <h2 style="text-shadow: 0px 0px 5px red">@Model.Title</h2>
        <h4><b>Tác giả:</b> <i>@Model.Creator</i></h4>
        <h4><b>Nhà xuất bản:</b> <i>@Model.Publisher</i></h4>
    </center>

    <br />

    <div style="width:680px; margin-left:auto; margin-right:auto;">
        <a id="viewerPlaceHolder" style="width:680px;height:750px;display:block;border: 5px solid white; border-radius: 10px; box-shadow: 0px 0px 5px 1px black;"></a>
    </div>
    <center>
        <script type="text/javascript">
            var fp = new FlexPaperViewer(
				        '@Url.Content("~/FlexPaperViewer")',
				        'viewerPlaceHolder', { config: {
				            SwfFile: '@Url.Content("~/Resources/" + Model.FileSource)',
				            Scale: 1.0,
				            ZoomTransition: 'easeOut',
				            ZoomTime: 0.5,
				            ZoomInterval: 0.2,
				            FitPageOnLoad: false,
				            FitWidthOnLoad: false,
				            PrintEnabled: false,
				            FullScreenAsMaxWindow: false,
				            ProgressiveLoading: false,
				            MinZoomSize: 0.2,
				            MaxZoomSize: 5,
				            SearchMatchAll: false,
				            InitViewMode: 'Portrait',

				            ViewModeToolsVisible: true,
				            ZoomToolsVisible: true,
				            NavToolsVisible: true,
				            CursorToolsVisible: true,
				            SearchToolsVisible: true,

				            localeChain: 'en_US'
				        }
				        });
        </script>
        <br />
        @Html.ActionLink("Quay về trang chủ", "Index", null, new { style="font-size: 1.5em;" })
    </center>
</div>

