@model IEnumerable<Application>
@{
    ViewBag.Title = "Applications";
}
<table class="datatable">
    <thead>
        <tr>
            <th>@Html.Localize("Id")
            </th>
            <th>@Html.Localize("Domain")
            </th>
            <th>@Html.Localize("Actions")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        { 
            <tr>
                <td>
                    @item.ApplicationId
                </td>
                <td>
                    @item.DomainName
                </td>
                <td>
                    @Html.ActionLinkButtonSecured(Html.Localize("Edit"), "pencil", "EditApplication", "Application", "Core", new { id = item.ApplicationId })
                    @Html.ActionLinkButtonSecured(Html.Localize("Delete"), "bin", "DeleteApplication", "Application", "Core", new { id = item.ApplicationId }, "confirm")
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
@Html.ActionLinkButtonSecured(Html.Localize("Add application"), "add", "AddApplication", "Application", "Core", null, "button-green")
