@model Application
@{
    ViewBag.Title = (Model.ApplicationId > 0 ? "Edit" : "Add") + " application";
}
@using (Html.BeginForm(Model.ApplicationId > 0 ? "EditApplication" : "AddApplication", "Application"))
{ 
    @Html.HiddenFor(m => m.ApplicationId)
    <fieldset class="form">
        <legend>@((Model.ApplicationId > 0 ? "Edit" : "Add") + " application")</legend>
        <label>@Html.Localize("Domain name")</label>
        @Html.TextBoxFor(m => m.DomainName)
        <div class="action">
            <button class="button button-green">@Html.Localize(Model.ApplicationId > 0 ? "Save" : "Add")</button>
            @Html.ActionLinkButtonSecured(Html.Localize("Back"), null, "Applications", "Application", "Core")
        </div>
    </fieldset>
}