@model QML.Web.UI.Areas.DocumentAdmin.Models.DocumentCategoriesModel

@{
    ViewBag.Title = "QUẢN LÝ BỘ SƯU TẬP TÀI LIỆU";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset class="form">
        <legend>Sửa đổi</legend>
        @Html.ValidationSummary(true)     
            <label>
            @Html.Localize("Tên danh mục")
            </label>
            @Html.EditorFor(model => model.CategoryName, new {@Value = @Model.CategoryName })
            <label>
            @Html.Localize("Thuộc danh mục")	
            </label>
            @Html.DropDownListFor(model => model.ParentID, (IEnumerable<SelectListItem>)@ViewBag.ParentList, new { @Class = "styled", CategoryID = @ViewBag.CurrentID })
            <div class="action">
                <button class="button button-green">@Html.Localize("Cập nhật")</button>
                @Html.ActionLinkButtonSecured(Html.Localize("Hủy bỏ"), null, "Index", "DocumentCategoryAdmin", "DocumentAdmin")
            </div>
    </fieldset>
}
