@model QML.Web.UI.Areas.Core.Models.ChangePasswordAdminModel
@{
    ViewBag.Title = "Change Password";
}
@using (Html.BeginForm())
{
    <fieldset class="form">
        <legend>@Html.Localize("Change Password")</legend>
        @Html.HiddenFor(m => m.UserId)
        <label class="form-label">@Html.Localize("New password")</label>
        @Html.EditorFor(m => m.NewPassword)
        <label class="form-label">@Html.Localize("Confirm password")</label>
        @Html.EditorFor(m => m.ConfirmPassword)
        <div class="action">
            <button class="button button-green" type="submit">@Html.Localize("Change password")</button>
            @Html.ActionLinkButtonSecured(Html.Localize("Cancel"), null, "UsersList", "User", "Core")
        </div>
    </fieldset>
}