@model QML.Web.UI.Areas.Core.Models.ExtendRegisterModel
@{
    ViewBag.Title = "Sửa thông tin người dùng";
    
    
    QML.Web.UI.HanuELibraryEntities db = new QML.Web.UI.HanuELibraryEntities();
    List<QML.Web.UI.UserGroup> ls = db.UserGroups.ToList();
    var items = new SelectList(ls, "groupId", "group_name", Model.UserGroup);
    List<QML.Web.UI.FacultyGroup> fl = db.FacultyGroups.ToList();
    var faculty = new SelectList(fl, "fgroup_name", "fgroup_name", Model.Faculty);

}   

<h2>Sửa thông tin người dùng</h2>

@using (Html.BeginForm("EditUser", "UserEx"))
{
    <fieldset class="form">
        <label>
            @Html.Localize("Mã số sinh viên")
        </label>
        @Html.TextBoxFor(m => m.StudentID, new { @disabled = "disabled" })

        <label>
            @Html.Localize("Tên đăng nhập*")
        </label>
        @Html.EditorFor(m => m.UserName)

        <label>
            @Html.Localize("Họ và tên")
        </label>
        @Html.TextBoxFor(m => m.ActualName)

        <label>
            @Html.Localize("Nhóm người sử dụng*")
        </label>
        @Html.DropDownListFor(x => x.UserGroup, @items)

        <label>
            @Html.Localize("Khoa chuyên ngành")
        </label>
        @Html.DropDownListFor(x => x.Faculty, @faculty)

        <label>
            @Html.Localize("Lớp")
        </label>
        @Html.EditorFor(m => m.StudentClass)

        <label>
            @Html.Localize("Hạn sử dụng thẻ")
        </label>
        @Html.TextBox("date", (string)ViewBag.DueDate)

        <label>
            @Html.Localize("Khóa")
        </label>
        @Html.TextBoxFor(m => m.YearLearnt)

        <div class="action">
            <button class="button button-green">@Html.Localize("Cập nhật")</button>
            @Html.ActionLinkButtonSecured(Html.Localize("Trở lại"), null, "UsersList", "User", "Core")
        </div>
    </fieldset>
}